@import "default.css";

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 7px;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12pt;
  font-weight: 700;
  padding-bottom: 0px;
}

tooltip {
  background: @base;
  border-radius: 7px;
  border: 2px solid @main;
}

#window {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 7px;
  border-radius: 7px;
  border-bottom: 2px solid @base;
  border-right: 2px solid @base;
  background-color: @base;
  color: @bg;
}

#window#waybar.empty #window {
  background-color: transparent;
  border-bottom: none;
  border-right: none;
}

#window#waybar {
  background-color: transparent;
  color: @main;
}

#waybar {
  background: transparent;
  color: @text;
  /* margin: 5px 5px; */
}

#workspaces {
  margin: 5px 5px 2px 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* margin: 5px 5px 2px 5px; */
  border-radius: 7px;
  /* padding: 2px; */
  background-color: @base;
  /* margin-left: 1rem; */
}

#workspaces button {
  /* margin: 2px 2px 2px 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px; */
  border-radius: 5px;
  color: @lavender;
  border-radius: 5px;
}

#workspaces button.active {
  background-color: @main;
  color: @base;
  border-radius: 7px;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button:hover {
  background-color: @main;
  color: @second;
  border-radius: 7px;
}

#window {

  border-radius: 7px;
  border-bottom: 2px solid @base;
  border-right: 2px solid @base;
  background-color: @main;
  color: @base;
}

#window#waybar.empty #window {
  background-color: transparent;
  border-bottom: none;
  border-right: none;
}

#window#waybar {
  background-color: transparent;
  color: @second;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#bluetooth,
#network,
#mpd {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: @base;
  margin: 5px 0px;
}

#clock {
  color: @blue;
  border-radius: 0px 7px 7px 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery,
#bluetooth {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 7px 0px 0px 7px;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 7px;
  color: @red;
}

#tray,
#network {
  margin-right: 1rem;
  border-radius: 7px;
}

#mpd,
#custom-music {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @text;
  background-color: @base;
}
