* {
  transparent: #00000077;
  foreground: #ffffff;
  background-selected: #f2f2f27a;
  background-active: #f2f2f275;
  background-white: #f2f2f273;
  background-black: #0000002a;
  urgent: #e91e6366;
  urgent-selected: #e91e6377;
}
*{
    background:rgba(5, 5, 5, 0.808)
}