.NavBar {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.NavBar > * {
  text-decoration: none;
  color: black;
  margin-top: 8px;
  padding: 8px;
  font-size: larger;
  border-radius: 10% 10% 0% 0%;
  transition: background-color 1s ease-in-out;
}

a:hover {
  background-color: aqua;
}

.active {
  background-color: antiquewhite;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background-color: antiquewhite;
}
