.NavBar {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.NavBar > * {
  text-decoration: none;
  color: black;
  margin-top: 8px;
  padding: 8px;
  font-size: larger;
}

a:hover {
  background-color: aqua;
}

.active {
  background-color: cornflowerblue;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background-color: cornflowerblue;
}
