.NavBar {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.NavBar > * {
  text-decoration: none;
  color: black;
  padding: 0;
  margin-top: 8px;
}

.Navbar > *:hover {
  background-color: aqua;
}
