.NavBar {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.NavBar > * {
  text-decoration: none;
  color: black;
  margin-top: 8px;
  padding: 4px;
}

a:hover {
  background-color: aqua;
}

.active {
  background-color: cornflowerblue;
}
