@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'JetBrainsMonoNerdFontMono';
  src: url('./assets/fonts/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: 'JetBrainsMonoNerdFontMono';
  src: url('./assets/fonts/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}