.success,
.error,
.blank {
  padding: 4px;
  width: 14em;
  border: 0.2em solid #000000;
  border-radius: 4px;
}

.success {
  background-color: chartreuse;
}
.error {
  background-color: red;
}
.center {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.center2 {
  align-items: center;
}
input[type="number"] {
  width: 12em;
  padding: 0.5em;
  border: 0.2em solid #000000;
  border-radius: 4px;
  text-align: center;
  appearance: textfield;
  margin: 0;
}
button {
  width: 14em;
  padding: 0.5em;
  border-radius: 4px;
  font-size: medium;
  font-weight: bold;
  border: 0.2em solid rgb(0, 0, 0);
  background-color: antiquewhite;
}
button:hover {
  background-color: aqua;
}
