.success {
  background-color: chartreuse;
}
.error {
  background-color: tomato;
}
.center {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
input {
  vertical-align: top;
  text-align: center;
  outline: none;
}
