button {
  width: 14em;
  padding: 0.5em;
  border-radius: 4px;
  font-size: medium;
  font-weight: bold;
  border: 0.2em solid rgb(0, 0, 0);
  background-color: antiquewhite;
}
button:hover {
  background-color: aqua;
}
.content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 80vw;
}
input[type="text"] {
  width: 12em;
  padding: 0.5em;
  border: 0.2em solid #000000;
  border-radius: 4px;
  text-align: center;
  appearance: textfield;
  margin: 0;
}
.result {
  display: flex;
  gap: 2rem;
}
.box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-width: 20vw;
  min-height: 30vh;
  border: 0.2em solid rgb(0, 0, 0);
  margin: 10px;
}
.box > * {
  margin: 0;
  padding: 0px;
}
